@import '@/styles/_variables';
@import '@/styles/_mixins';

.section-title {
	padding: 55px 0;
	font-size: 64px;
	@include title-font;
	@media (max-width: 1199px) {
		padding: 48px 0;
		font-size: 60px;
	}
	@media (max-width: 600px) {
		padding-top: $gap;
		font-size: 52px;
	}
}
