@import '@/styles/_variables';
@import '@/styles/_mixins';

.command {
	&__inner {
		padding: $big-gap 0;
	}
	&__title {
		@include section-liquid-title;
	}
	&__slider {
		margin: 0 calc(-1 * $half-gap);
		margin-bottom: $gap;
		position: relative;
		&-control-divider {
			position: absolute;
			bottom: 58px;
			left: 146px;
			width: 124px;
			border-bottom: 1px solid $shady-main-color;
		}
	}
}

.dev {
	margin: 0 $half-gap;
	&__inner {
		display: grid;
		grid-template-columns: 275px 1fr;
		gap: $gap;
	}
	&__profile {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	&__img {
		margin-bottom: $half-gap;
	}
	&__name {
		min-height: 46px;
	}
	&__info {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		display: flex;
		flex-direction: column;
		padding: $half-gap;
		@include section-info;
		margin: 0;
		a {
			margin-top: $big-gap;
			align-self: flex-end;
			border-bottom: 1px solid;
		}
	}
	&__text {
		text-align: justify;
	}
	&__controls {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		height: 41px;
		&-divider {
			flex-grow: 1;
			margin: 20px 55px 20px 96px;
			border-bottom: 1px solid $shady-main-color;
		}
		&-info {
			margin-top: -7px;
		}
	}
	&__left-btn,
	&__right-btn {
		@include element-decor;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 38px;
		border-width: 1px;
		cursor: pointer;
	}
	&__left-btn {
		margin-right: 8px;
	}
}

@media (max-width: 900px) {
	.command {
		&__slider-control-divider {
			left: 126px;
		}
	}
	.dev {
		&__inner {
			display: flex;
			flex-direction: column;
		}
		&__profile {
			align-self: center;
			width: 275px;
		}
		&__info {
			font-size: 25px;
		}
	}
}
