@import '@/styles/_variables';
@import '@/styles/_mixins';

.main {
	min-height: calc(100vh - 120px);
	&__inner {
		display: flex;
	}
	&__content {
		min-width: 50%;
		text-align: center;
	}
	&__title {
		@include section-liquid-title;
	}
	&__divider {
		width: 66%;
		margin: 0 auto;
		border-bottom: 2px solid $shady-main-color;
	}
	&__subtitle {
		margin: $gap 0;
		@include section-subtitle;
		span {
			color: $shady-main-color;
		}
	}
	&__link {
		margin: $gap 0;
		@include button;
		width: 192px;
		display: inline-block;
	}
}

.clock {
	display: flex;
	flex: 1 1 360px;
	align-items: center;
}

@media (max-width: 900px) {
	.main {
		&__inner {
			flex-direction: column-reverse;
		}
	}
}
