@import '@/styles/_variables';

.menu-item {
	display: block;
	padding: $half-gap 0;
	&--active {
		span {
			position: relative;
			&::after {
				content: '';
				display: inline-block;
				position: absolute;
				left: 0;
				bottom: -5px;
				width: 100%;
				border-bottom: 2px solid $main-color;
			}
		}
	}
	& + .menu-item {
		margin-left: $gap;
	}
}

@media (max-width: 1199px) {
	.menu-item {
		margin-bottom: $half-gap;
	}
}

@media (max-width: 600px) {
	.menu-item {
		margin-bottom: 0;
		& + .menu-item {
			margin-left: 0;
		}
	}
}
