@import '@/styles/_variables';
@import '@/styles/_mixins';

.header {
	border-bottom: 2px solid $shady-main-color;
	&__inner {
		display: flex;
		min-height: 120px;
		align-items: center;
	}
}

.logo {
	padding: $gap 0;
	svg {
		width: 55px;
		height: 55px;
		margin-left: -5px;
		vertical-align: -36%;
	}
	&__title {
		margin-left: 8px;
		font-size: 48px;
		@include title-font;
	}
}

.menu {
	height: 100%;
	margin-left: auto;
	padding-top: 9px;
	&__list {
		display: flex;
		height: 100%;
		align-items: stretch;
	}
}

@media (max-width: 1199px) {
	.header {
		&__inner {
			display: block;
		}
	}
	.menu {
		padding: 0;
	}
}

@media (max-width: 600px) {
	.header {
		&__inner {
			min-height: 0;
		}
	}
	.logo {
		svg {
			width: 42px;
			height: 46px;
			margin-left: -5px;
			vertical-align: -36%;
		}
		&__title {
			margin-left: 4px;
			font-size: 38px;
		}
	}
	.menu {
		&__list {
			display: none;
		}
	}
}
