@import '@/styles/_variables';
@import '@/styles/_mixins';

.header {
	border-bottom: 2px solid $shady-main-color;
	&__inner {
		display: flex;
		min-height: 120px;
		align-items: center;
	}
}

.logo {
	padding: $gap 0;
	svg {
		width: 55px;
		height: 55px;
		margin-left: -5px;
		vertical-align: -36%;
	}
	&__title {
		margin-left: 8px;
		font-size: 48px;
		@include title-font;
	}
}

.menu {
	height: 100%;
	margin-left: auto;
	padding-top: 7px;
	&__list {
		display: flex;
		height: 100%;
		align-items: stretch;
	}
	&__item {
		display: flex;
		align-items: center;
	}
	&__item + .menu__item {
		margin-left: 36px;
	}
}

@media (max-width: 1199px) {
	.header {
		&__inner {
			display: block;
		}
	}
	.menu {
		padding: 0;
		&__item {
			padding-bottom: $gap;
		}
	}
}

@media (max-width: 600px) {
	.logo {
		padding-bottom: 12px;
		svg {
			width: 48px;
			height: 48px;
			margin-left: -5px;
			vertical-align: -36%;
		}
		&__title {
			font-size: 42px;
		}
	}
	.menu {
		padding-bottom: 12px;
		&__list {
			display: block;
		}
		&__item {
			padding: 12px 0;
		}
		&__item + .menu__item {
			margin-left: 0;
		}
	}
}
