@import '@/styles/_variables';
@import '@/styles/_mixins';

.card {
	position: relative;
	height: 100%;
	padding: 40px 48px;
	@include element-decor;
	&--main {
		margin-top: -48px;
	}
}

@media (max-width: 1199px) {
	.card {
		padding: 30px 36px;
		&--main {
			margin-top: -32px;
		}
	}
}

@media (max-width: 900px) {
	.card {
		padding: 18px 16px;
		&--main {
			margin-top: -26px;
		}
	}
}

@media (max-width: 600px) {
	.card {
		padding: 12px;
		&--main {
			margin-top: -16px;
		}
	}
}
