@import '@/styles/_variables';
@import '@/styles/_mixins';

.motto {
	&__inner {
		padding: 35px 0;
	}
	&__title {
		margin-bottom: -48px;
		font-size: 180px;
		@include title-font;
	}
}

.typing-area {
	min-height: 620px;
	padding: 56px 48px;
	font-size: 88px;
	@include title-font;
}

@media (max-width: 1199px) {
	.motto {
		&__title {
			margin-bottom: -32px;
			font-size: 136px;
		}
	}
	.typing-area {
		min-height: 470px;
		padding: 42px 36px;
		font-size: 66px;
	}
}

@media (max-width: 900px) {
	.motto {
		&__title {
			margin-bottom: -26px;
			font-size: 90px;
		}
	}
	.typing-area {
		min-height: 475px;
		padding: 36px 30px;
		font-size: 50px;
	}
}

@media (max-width: 600px) {
	.motto {
		&__title {
			margin-bottom: -16px;
			font-size: 52px;
		}
	}
	.typing-area {
		min-height: 305px;
		padding: $gap 16px;
		font-size: 32px;
	}
}
