@import '@/styles/_variables';
@import '@/styles/_mixins';

.bm-burger-button,
.bm-overlay,
.burger-menu {
	display: none;
}

.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 25px;
	right: $half-gap;
	top: 39px;
	background: $background-color;
	backdrop-filter: blur(6px);
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: $main-color;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: $main-color;
}

/* General sidebar styles */
.bm-menu {
	background: #000;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
	color: $main-color;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
	// backdrop-filter: blur(6px);
	// background: $background-color !important;
}

@media (max-width: 600px) {
	.bm-burger-button,
	.bm-overlay,
	.burger-menu {
		display: block;
	}
}
